<div class="header-container">
  <nav class="navbar">
    <div class="navbar-brand">
      <h1>{{ config.logo || 'Imobiliária' }}</h1>
    </div>
    
    <ul class="navbar-nav" *ngIf="config.navigation && config.navigation.length > 0">
      <li *ngFor="let item of config.navigation" class="nav-item">
        <a [href]="item.link" 
           class="nav-link"
           [class.edit-mode-link]="editMode"
           (click)="editMode ? $event.preventDefault() : null">
          {{ item.label }}
        </a>
      </li>
    </ul>
  </nav>
  
  <!-- Edit Mode Overlay -->
  <div class="edit-overlay" *ngIf="editMode">
    <span class="edit-badge">Header</span>
  </div>
</div>
